.mainLayout {
  width: 100%;
  margin: 0;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 72px);
}
